<h1>It's Showtime!</h1>

<h2>Bands</h2>
<h6>Add bands, then click on bands to edit them and add venues where they have played. </h6>

<ul>
  <% @bands.each() do |band| %>
  <li> <a href="/bands/<%= band.id() %>"><%= band.name() %></a></li>
  <% end %>
</ul>
<br>
<form action="/bands" method="post">
  <input id="name" name="name" type="text">

  <button type="submit" class="btn btn-success btn-xs">add a band</button>
</form>

<h2>Venues</h2>
<h6>Add venues, then click on venues to see what bands have played there.</h6>

<ul>
  <% @venues.each() do |venue| %>
  <li> <a href="/venue/<%= venue.id() %>"><%= venue.name() %></a></li>
  <% end %>
</ul>
<br>
<form action="/venue" method="post">
  <input id="name" name="name" type="text">

  <button type="submit" class="btn btn-success btn-xs">add a venue</button>
</form>
