<h1>It's Showtime!</h1>
<p class="lead">track bands and venues they've performed</p>

<h2>Bands</h2>
<h5>Add bands, then click on bands to <strong>edit</strong> them and add venues where they have played. </h5>

<ul>
  <% @bands.each() do |band| %>
  <li> <a href="/bands/<%= band.id() %>"><%= band.name() %></a></li>
  <% end %>
</ul>
<br>
<form action="/bands" method="post">
  <input id="name" name="name" type="text">

  <button type="submit" class="btn btn-success btn-xs">add a band</button>
</form>

<h2>Venues</h2>
<h5>Add venues, then click on venues to delete them or see what bands have played there.</h5>
<ul>
  <% @venues.each() do |venue| %>
  <li> <a href="/venues/<%= venue.id() %>"><%= venue.name() %></a></li>
  <% end %>
</ul>
<br>
<form action="/venues" method="post">
  <input id="name" name="name" type="text">

  <button type="submit" class="btn btn-success btn-xs">add a venue</button>
</form>
